//- toggle-buttons is defined in ToggleButtons/style.scss
InputField(:label="label").duration-field
  v-input(:value="finalValue", :rules="formRules")
    v-layout.justify-space-between
      v-btn-toggle(v-model="selectedValue", :mandatory="!custom").my-1
        template(v-for="duration in durations")
          ToggleButton(
            :value="duration.value", :text="duration.text", 
            :caption="duration.caption", @click="switchCustom(false)")
      div(:class="{active: custom}").custom-field
        v-text-field(label="Custom", placeholder="Enter Time", outline,
                     v-model="customValue", mask="###",
                     @click="switchCustom(true)", @focus="switchCustom(true)")
