v-expansion-panel(:value="expandLocation").mb-4
  v-expansion-panel-content
    div(
      slot="header",
      :class="[small ? 'font-weight-medium' : 'font-weight-bold']"
    ).text-xs-left.headline.primary--text
      | {{ title }}
    v-content
      v-container.text-xs-center
        slot