InputField(:label="label")
  v-btn-toggle(v-model="selected", mandatory).my-1
    template(v-for="option in options")
      ToggleButton(:value="option.value", :text="option.text",
          :caption="option.caption", @click="onClick")
