
InputField(:label="label")
  v-autocomplete(
    v-model="selected", :items="options", :rules="rules",
    item-text="text", :label="placeholder", :loading="loading"
    @change="onChange", :hide-details="hideDetails")
