html {
  // do not show scroll bar in attach mode
  overflow-y: hidden;
}

.kloudless-meeting-scheduler {
  height: 100%;
}

.application {
  height: 100%;
  width: 100%;
  margin: auto;

  .capitalize {
    text-transform: capitalize;
  }
  
  .app-padding {
    height: 100%;
    padding: @WIDGET_PADDING @WIDGET_PADDING 0 @WIDGET_PADDING;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .app-padding__header {
    flex: 0 0 @MODAL_HEADER_HEIGHT;
    height: @MODAL_HEADER_HEIGHT;
  }

  .app-padding__content {
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0 10px 10px;
  }

  .app-padding__content--fix {
    overflow-y: hidden;
    height: 100%;
  }

  .app-padding__error {
    width: 100%;
    flex: 0 0 @ERROR_HEIGHT;
    padding: 5px;
    overflow-y: auto;
  }
}
