/* Colors */
// background color
@background: #f5f7fa;

// primary and secondary UI color
@primary: #7566ff;
@secondary: #062c61;

// color for emphasized texts and tooltip icon
@surface: #24c9a3;

// background color for error message and cross icon
@error: #F17880;

// primary and secondary text color on non-highlighted elements
@onPrimary: black;
@onSecondary: #94A4BC;

// primary and secondary text color on highlighted elements
@onPrimaryVariant: white;
@onSecondaryVariant: #C1BCFC;

// color for disabled elements like buttons
@disabled: #dcdcdc;

/* Font */

// Custom font name, url and font file format
// You need to specify all 3 properties together in order to take effect
@fontFaceName: "Roboto";
@fontFacePath: "../fonts/Roboto-Regular.woff";
@fontFaceFormat: "woff";

// font family used in the widget, to use the custom font you specified above,
// you need to specify the font face name here. It is recommended that you
// also specify fallback font families like 'sans-serif'.
@fontFamily: "Roboto", "sans-serif";
