/* Colors */
@primary: #7566ff;
@background: #f5f7fa;
@secondary: #062c61;
@surface: #24c9a3;
@error: #F17880;
@onPrimary: black;
@onSecondary: #94A4BC;
@onPrimaryVariant: white;
@onSecondaryVariant: #C1BCFC;
@disabled: #dcdcdc;

/* Font */
@fontFacePath: "../fonts/Roboto-Regular.woff";
@fontFaceFormat: "woff";
@fontFaceName: "Roboto";
@fontFamily: "Roboto", "sans-serif";
