@import "../../_variables.scss";

.availability-field {
  .v-list {
    background: unset;

    .v-divider {
      opacity: 0.05;
      border-color: $accent;
    }

    .v-list__tile {
      padding-left: 0px;
      padding-top: 12px;
      padding-bottom: 4px;
      height: auto;

      .v-list__tile__title {
        opacity: 0.9;
        font-size: 16px;
        font-weight: bold;
        color: $accent;
      }

      .v-list__tile__sub-title {
        font-size: 12px;
        opacity: 0.9;
        color: $accent;
      }
    }
  }
}