
div.text-xs-left.accent--text.input-label.font-weight-bold
  v-layout.align-center
    span.opacity-4
      slot
    v-tooltip(v-if="!!tooltip", top, content-class="tooltip-container")
      template(v-slot:activator="{ on }")
        v-btn(icon, v-on="on", small)
          v-icon help_outline
      span {{ tooltip }}
