div.mb-4.authenticator
  div(v-if="account.token")
    v-list-tile(avatar="")
      v-list-tile-avatar
        v-icon(color="accent", large) account_circle
      v-list-tile-content
        v-list-tile-title(v-if="loading.account")
          div.text-xs-center
            v-progress-circular(indeterminate, size="20", color="primary")
        v-list-tile-title(v-else) {{ account.account }}
      v-list-tile-action
        v-btn(icon="", ripple="")
          v-icon(color="error", @click="removeAccount") cancel
    v-layout(v-if="!isUpdating", row, wrap, align-center).mt-4
      v-flex(xs12)
        Dropdown(required, label="Calendar *", name="calendarId",
                 :loading="loading.account || loading.calendar",
                 :value="account.calendarId", :options="calendars"
                 @update="setCalendarId")
  div(v-else-if="isUpdating").subheading.error--text
    | Error: Invalid Account Token
  InputWrapper(v-show="!account.token && !isUpdating",
               :value="account.token", :rules="rules")
    Button(icon="add", :btnProps="{outline: true}", @click="onAddAccount")
      | Connect Calendar
