div
  Title Event Created
  div.headline.mb-3.text-xs-left
    | You have successfully created the event 
    span.success--text {{ meetingWindow.title }}
  div.mt-5.mb-3.subheading.text-xs-left.accent--text.opacity-4 SHARE YOUR EVENT
  TextInput(label=" ", readonly, :value="shareUrl").mb-5
  Button(color="primary", @click="createMeetingWindow").mt-5
    | Create Another Event
  