@import "../../_variables.scss";

.weekday-picker {
  .v-chip {
    background-color: $primary !important;
    .v-chip__content {
      font-size: 14px;
      color: $white;
      font-weight: 700;
    }
  }
}
