v-btn(depressed, outline, color="primary",
      @click="onClick").toggle-buttons-button
  div.btn-content
    div.font-weight-bold.text {{ text }}
    div.font-weight-bold.caption
      | {{ caption }}
