InputField(:label="label")
  v-text-field(
    :name="name", :placeholder="placeholder", :value="value",
    :readonly="readonly", :rules="rules", 
    @input='$emit("update", {"name": name, "value": $event})')
