/*
  Doesn't use Vuetify's color options because we need to customize
  colors for components that don't support or have limited support of
  color APIs. Hence, define and manage all colors in scss instead.
*/

$primary: #7566ff;
$background: #f5f7fa;
$accent: #04214a;
$white: #ffffff;
$success: #24c9a3;
$error: #F17880;