$primary: #7566ff;
$background: #f5f7fa;
$accent: #062c61;
$white: #ffffff;
$success: #24c9a3;
$error: #F17880;


/* Widget size */
$content-width: 500px;
$widget-padding: 15px;
$content-height: 650px;
$footer-height: 30px;
$modal-header-height: 30px;
$error-height: 50px;
