v-btn(depressed, outline, color="primary",
      :value="value", @click="$emit('click', $event)").toggle-button
  div
    div.font-weight-bold.text {{ text }}
    div.font-weight-bold.caption {{ caption }}