div
  Title Meeting scheduled!
  div.mt-5.subheading A calendar invite will be sent to your email shortly.
  div.text-xs-left
    div.mt-5.caption.accent--text.opacity-4 EVENT INFO
    div.mb-4
      div.title.accent--text.opacity-9.font-weight-bold
        | {{ meetingWindow.title }}
      div.subheading.accent--text.opacity-9
        | {{ meetingWindow.location }}
    div.mb-4
      div.title.accent--text.opacity-9.font-weight-bold
        | {{ formatDate('fullHour', timeSlots.selectedSlot.start) }}
        | -
        | {{ formatDate('fullHour', timeSlots.selectedSlot.end) }}
        | ({{timeZone}} time)
      div.subheading.accent--text.opacity-9
        | {{ formatDate('date', timeSlots.selectedSlot.start) }}
  div.mt-5
    template(v-for="action in launchOptions.afterSchedule.actions")
      Button(
        v-if="actionButtonText[action]",
        @click="buttonAction(action)")
        | {{ actionButtonText[action] }}
  
