@import '../../variables';

.v-input.input-wrapper {
  .content {
    width: 100%;
    text-align: center;
  }

  &.error--text > .v-input__control > .v-input__slot > .content > .v-btn {
    color: $error !important;
  }

  .v-messages > .v-messages__wrapper .v-messages__message {
    width: 100%;
    text-align: center;
    color: $error;
  }
}