InputField(:label="label", :tooltip="tooltip").number-field
  v-text-field(
    v-model='selected', type='number', :placeholder="placeholder",
    :max="max", :min="min", :suffix="suffix", :rules="rules")
