<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <% if (distTest) { %>
      <link rel="stylesheet" href="../../dist/meeting-scheduler.min.css">
    <% } %>
    <title>Meeting Scheduler</title>
  </head>
  <body>
    
    <div id="kloudless-meeting-scheduler0"></div>
    <div id="kloudless-meeting-scheduler1"></div>
    <h1> Test Meeting Scheduler</h1>
    <div>
      <p>
        <label>
          Launch options (
          <span style="font-weight: bold">
            element
          </span>
          option is omitted and automatically handled in this page)
        </label>
      </p>
      <textarea id="options"
          cols="100" rows="20" style="border: 1px solid black">{}</textarea>
    </div>
    <br/>
    <br/>
    <br/>
    <button
     style="margin-left:20px;border: 1px solid black;padding: 10px;"
     onclick="window.launchMeetingScheduler(0)">Launch Scheduler
    </button>
    <button
     style="margin-left:20px;border: 1px solid black;padding: 10px;"
     onclick="window.launchMeetingScheduler(1)">
      Launch Another Scheduler
    </button>
    <% if (distTest) { %>
      <script src="../../dist/meeting-scheduler.min.js"></script>
      <script src="../../dev-server/test_launch.js"></script>
      <script>
        window.Kloudless.scheduler.setOptions({
          schedulerPath: '../../dist/scheduler/index.html'
        });
        setupTestLaunch(window.Kloudless.scheduler);
      </script>
    <% } %>
  </body>
</html>
