v-btn(v-bind="btnProps", :loading="loading", :color="color", depressed,
  @click="$emit('click', $event)", :disabled="disabled").font-weight-bold.btn
  v-layout(row, align-center, justify-center, :class="{'pa-3': padding}")
    v-icon(v-if="!!icon", left) {{ icon }}
    slot