Button(:padding="false"
       :btnProps="{depressed: !timeSlot.selected, outline: !timeSlot.selected}",
       @click="selectSlot").hour-block
  v-layout(v-if="timeSlot.selected", row, wrap, align-center, justify-center)
    v-flex(xs4)
      div.hour {{ formatDate('hour', timeSlot.start) }}
      div.ampm.white--text.opacity-4
        | {{ formatDate('amPm', timeSlot.start) }}
    v-flex(xs1)
      div.hour-to.white--text.opacity-4.pt-1 —
    v-flex(xs4)
      div.hour {{ formatDate('hour', timeSlot.end) }}
      div.ampm.white--text.opacity-4
        | {{ formatDate('amPm', timeSlot.end) }}
  template(v-else)
    span.hour.pr-1 {{ formatDate('hour', timeSlot.start) }}
    span.ampm.primary--text.opacity-4
      | {{ formatDate('amPm', timeSlot.start) }}
